<div class="flex-container">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Dogs</div>
        <div class="card-body">
          <h4 class="card-title">Canines</h4>
          <p class="card-text">Find the food, clothing, and toys to keep your best friend, happy, healthy, and stylish.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">Cats</div>
          <div class="card-body">
            <h4 class="card-title">Felines</h4>
            <p class="card-text">Find the food, clothing, and toys for your favorite furrball.</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Elephants</div>
            <div class="card-body">
              <h4 class="card-title">Pachyderms</h4>
              <p class="card-text">Keep your large pal up to date with the latest styles. Feeding your large buddy couldn't be easier with our selection.</p>
            </div>
          </div>
        </div>