.form-text { 
    color: whitesmoke; 
}
.form-check {
    color: whitesmoke;
}
.exampleInputName {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}
.exampleInputEmail1 {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}
.exampleInputPassword1 {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}

