.form-text { 
    color: whitesmoke; 
    font-size: 18px;
    font-style: bold;
}
.form-check {
    color: whitesmoke;
    font-size: 18px;
    font-style: bold;
}
.exampleInputName {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}
.exampleInputEmail1 {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}
.exampleInputPassword1 {
    color: white;
    font-variant-caps: small-caps;
    font-size: 30px;
}
.flex-container {
    padding-bottom: 480px;
}