
<div class="flex-container1">
    <label class="exampleInputName">Name</label>
    <br>
    <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name">
    <!-- <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small> -->
  </div>
    <div>
      <label class="exampleInputEmail1">Email address</label>
      <br>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
    </div>
<div>
  <label class="exampleInputPassword1">Password</label>
  <br>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<form>
    <fieldset>
      <legend></legend>
      <div div class="flex-container">
      </div>
      
      
      
      <fieldset div class="flex-container1">
        <legend></legend>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check" type="checkbox" value="" checked="">
            Check here to receive our catalog.
          </label>
        </div>
        
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>