body {
  background-color:rgba(118, 114, 158, .7);
}
.nav-link {
  font-size: 25px;
}
.navbar-brand {
  font-size: 25px;
}
.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.JT{
  text-align: center;
}
.flex-container1 {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}