
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dog">Dogs</a>
        </li>
        <li class="Cats">
          <a class="nav-link" href="/cat">Cats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/elephant">Elephants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


<head> </head>

<body>
  <div class="container">
    <router-outlet></router-outlet>
   
  </div>
  

  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">507 - Team Angular - Austin, Gabriel, Josh, Laura, Mike, Shane</a>
    <a class="nav-link" href="/admin">Admin Login</a>
  </nav>
</body>

<!-- here is our change. I am amazing -->