body {
  background-color:rgb(88, 83, 145);
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.JT{
  text-align: center;
}
.flex-container1 {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}