<div class="container">
  <div class="jumbotron">
    <h1>Admin</h1>
    <p> 
    Admin access to users accounts
    </p>
<hr />
    <button (click)="fetchUser()" class="btn btn-primary">Retrieve list of Users</button>

<div class ="row">
  <div class="col-1"><h5>ID</h5>
    <li *ngFor="let user of user$ | async">{{user.id}}<hr/></li>
  </div>
    <div class="col-2"><h5>Name</h5> 
      <li *ngFor="let user of user$ | async">{{ user.name }}<hr/></li>
    </div>
      <div class="col-3"><h5>Email</h5>    
        <li *ngFor="let user of user$ | async">{{ user.email }}<hr/></li>
      </div>
    <div class="col-4"><h5>Delete</h5>
      <li *ngFor="let user of user$ | async" > 
        <button class="delete" (click)="deleteUser(user.id)">Delete</button><hr/></li>
    </div>
</div>