  <h2 class= PH>Cat Shop</h2>
<div class="flex-container">
    <div class="card1 text-white mb-3" style="max-width: 20rem;">
        <div class="card-header">Cat Food</div>
        <div class="card-body">
          <h4 class="card-title">Kitty's gotta eat!</h4>
          <br>
          <p class="card-text">Don't feed them after midnight.</p>
        </div>
          <nav class="shop-now">
            <button routerLink = "/catfood" class="btn btn-secondary">Shop Now</button>
          </nav>
      </div>
      <div class="card text-white mb-3" style="max-width: 20rem;">
          <div class="card-header">Cat Toys</div>
          <div class="card-body">
            <h4 class="card-title">Keep those little kitties occupied!</h4>
            <p class="card-text">A happy cat means a happy owner.</p>
          </div>
          <nav class="shop-now">
            <button routerLink = "/cattoys" class="btn btn-primary">Shop Now</button>
          </nav>
        </div>
        <div class="card1 text-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Cat Clothes</div>
            <div class="card-body">
              <h4 class="card-title">Get that little entitled kitty back!</h4>
              <p class="card-text">The best way to annoy your cat.</p>
            </div>
            <nav class="shop-now">
              <button routerLink = "/catclothes" class="btn btn-secondary">Shop Now</button>
            </nav>
          </div>
            <router-outlet></router-outlet>
        
        </div>
        <div class="jumbocontainer">
          <div class="jumbotron">
            <h1>CATS!</h1>
            <p> 
            The cat (Felis catus, or Felis silvestris catus, literally "woodland cat"), often referred to as the domestic cat to distinguish from other felids and felines, is a small, typically furry, carnivorous mammal. It is often called house cat when kept as indoor pet or feral/feral domestic cat when wild. It is often valued by humans for companionship and for its ability to hunt vermin. There are more than seventy cat breeds recognized by various cat registries.
            </p>
           
          </div>
      