  <h2 class= PH>Cat Page</h2>
<div class="flex-container">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Cat Food</div>
        <div class="card-body">
          <h4 class="card-title">Cats love to sleep, eat, and mess with your stuff - in that order.</h4>
          <p class="card-text">Get that cat nice and fat and save your precious shinies!</p>
        </div>
          <nav>
            <button routerLink = "/catfood">Shop Now</button>
          </nav>
       
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">Cat Toys</div>
          <div class="card-body">
            <h4 class="card-title">Keep those little furballs occupied!</h4>
            <p class="card-text">Lets keep in mind nothing will get your cat to like you but these things will help it hate you less.</p>
          </div>
          <nav>
            <button routerLink = "/cattoys">Shop Now</button>
          </nav>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Cat Clothes</div>
            <div class="card-body">
              <h4 class="card-title">Get that little entitled kitty back</h4>
              <p class="card-text">Put an ugly ass sweater on your cat - in the middle of summer! And buy other dumb stuff they will hate, just for the heck of it</p>
            </div>
            <nav>
              <button routerLink = "/catclothes">Shop Now</button>
            </nav>
          </div>
            <router-outlet></router-outlet>
        
        </div>
        <div class="container">
          <div class="jumbotron">
            <h1> General Cat page headline</h1>
            <h2> Sub heading info here </h2>
     
               <div>
            put in imamage here
            </div>
            <p> 
            add text with additional info here 

            </p>
           
          </div>
      