<h2>Dog Page</h2>
<div class="flex-container">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Dog Food</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">You love your dog, and your dog loves you because you feed him/her. Moar food = moar love. It's simple trigonometry.</p>
        </div>
        <nav>
            <button routerLink = "/dogfood">Shop Now</button>
          </nav>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">Dog Toys</div>
          <div class="card-body">
            <h4 class="card-title">*SQUEAK* *SQUEAK* *FETCH*</h4>
            <p class="card-text">Dogs are like stupid kids, but less stupid and more cute; but they'll still eat your favorite pair of kicks if you don't keep them occupies. These toys are designed to please!</p>
          </div>
          <nav>
              <button routerLink = "/dogtoys">Shop Now</button>
            </nav>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Dog Clothes</div>
            <div class="card-body">
              <h4 class="card-title">Your dog doesn't deserve it, but you can't control yourself.</h4>
              <p class="card-text"> We have all the things to make your cute pupper an even cuterer pupperer</p>
            </div>
            <nav>
                <button routerLink = "/dogclothes">Shop Now</button>
              </nav>
            </div>
              <router-outlet></router-outlet>
          
          </div>
          <div class="container">
            <div class="jumbotron">
              <h1> General Dog page headline</h1>
              <h2> Sub heading info here </h2>
       
                 <div>
              put in imamage here
              </div>
              <p> 
              add text with additional info here 
  
              </p>
             
            </div>