.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .PH {
    color: white;
  }
  .card-header {
    font-size: 25px;
    font-weight: bold; 
  }
  .shop-now {
      text-align: center;
  }