<h2 class = PH>Elephant Page</h2>
<div class="flex-container">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Elephant Food</div>
        <div class="card-body">
          <h4 class="card-title">HAHAHA YOU BETTER RUN (b4 you are the food)</h4>
          <p class="card-text">That's a big ol' creature that needs satiating - and our store has all the good eats to do just that</p>
        </div>
        <nav class="shop-now">
            <button routerLink = "/elephantfood">Shop Now</button>
          </nav>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">Elephant Toys</div>
          <div class="card-body">
            <h4 class="card-title">HAHAHA YOU BETTER RUN (b4 you are the toy)</h4>
            <p class="card-text">Peruse our amazing selection of Elephantaining toys that will prevent you from being used as a dumbell, you dumb bell.</p>
          </div>
          <nav class="shop-now">
              <button routerLink = "/elephanttoys">Shop Now</button>
            </nav>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Elephant Clothes</div>
            <div class="card-body">
              <h4 class="card-title">LITERALLY BANANA REPUBLIC</h4>
              <p class="card-text">How are you going to get that finely dressed elephant into Safeway? There's no F in Way</p>
            </div>
            <nav class="shop-now">
                <button routerLink = "/elephantclothes">Shop Now</button>
              </nav>
            </div>
              <router-outlet></router-outlet>
          
          </div>
          <div class="container">
            <div class="jumbotron">
              <h1> General Elephant page headline</h1>
              <h2> Sub heading info here </h2>
       
                 <div>
              put in imamage here
              </div>
              <p> 
              add text with additional info here 
  
              </p>
             
            </div>