<h2 class = PH>Elephant Page</h2>
<div class="flex-container">
    <div class="card1 text-white mb-3" style="max-width: 20rem;">
        <div class="card-header">Elephant Food</div>
        <div class="card-body">
          <h4 class="card-title">Trunk accessible, elephant approved!</h4>
          <p class="card-text">That's a big ol' creature that needs satiating - and our store has all the good eats to do just that</p>
        </div>
        <nav class="shop-now">
            <button routerLink = "/elephantfood" class= "btn btn-secondary">Shop Now</button>
          </nav>
      </div>
      <div class="card text-white mb-3" style="max-width: 20rem;">
          <div class="card-header">Elephant Toys</div>
          <div class="card-body">
            <h4 class="card-title">They're smarter than you.</h4>
            <br>
            <p class="card-text">Keep your elephant amused because you might regret it otherwise.</p>
          </div>
          <nav class="shop-now">
              <button routerLink = "/elephanttoys" class= "btn btn-primary">Shop Now</button>
            </nav>
        </div>
        <div class="card1 text-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Elephant Clothes</div>
            <div class="card-body">
              <h4 class="card-title">Maybe from the Banana Republic.</h4>
              <br>
              <p class="card-text">Dress your elephant in the best!</p>
            </div>
              <br>
            <nav class="shop-now">
                <button routerLink = "/elephantclothes" class= "btn btn-secondary">Shop Now</button>
              </nav>
            </div>
              <router-outlet></router-outlet>
          
          </div>
          <div class="jumbocontainer">
            <div class="jumbotron">
              <h1>ELEPHANTS!</h1>
              <p> 
                Elephants are large mammals of the family Elephantidae and the order Proboscidea. Three species are currently recognised: the African bush elephant (Loxodonta africana), the African forest elephant (L. cyclotis), and the Asian elephant (Elephas maximus). Elephants are scattered throughout sub-Saharan Africa, South Asia, and Southeast Asia. Elephantidae is the only surviving family of the order Proboscidea; other, now extinct, members of the order include deinotheres, gomphotheres, mammoths, and mastodons.
              </p>
             
            </div>