<div class="jumbotron">
    <h1 class=JT> Carl's Pet Shop!</h1>
    <h2 class=JT>If you love your pet, you will spend your money here. </h2>
  <div>
       <h3 class = JT>Featuring the pet's / kids of Cohort 253.5</h3>
       <img src= "http://oi65.tinypic.com/ran56s.jpg" class = PIC>
       <h4 class = JT>Carl!</h4>
       <img src= "http://oi68.tinypic.com/1jnjh3.jpg" class = PIC>
       <h4 class = JT>Kalliope and 1/2 of Mr Waffles!</h4>
       <img src= "http://oi66.tinypic.com/2rpwe49.jpg" class = PIC>
       <h4 class = JT>Gizmo! Don't feed him after midnight</h4>
       <img src = "http://oi65.tinypic.com/2zf4oj9.jpg" class = PIC>
       <h4 class = JT>Grayson! (we think) GRrrrrrrr!</h4>
       <br/>
       <!-- img src = "    " class = PIC> -->
       <h4 class = JT>Shane's kid with a gun O_o</h4>

  </div>
  
  </div>